dockeropt.duckdns.org {

    encode gzip

    request_body {
        max_size 20MB
    }

    handle /api/* {
        reverse_proxy dockeropt-backend:5000
    }

    handle {
        reverse_proxy dockeropt-frontend:80
    }

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    log {
        output stdout
        format json
    }
}